body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
div{
    position: absolute;
    top:10%;
    left:40%;
    border: 25px solid rgba(0,0,0,.3) ;
    border-radius: 10%;

}
  /* #myform{
    margin-left:225px;
    margin-top:20px;
 } */




 h1{
/* text-align:center; */
font-size:40px;
/* margin-left:150px; */
/* margin-top:40px; */

 }



input{
width: 60px;
height:60px;
font-size: 40px;
border-radius:10px;
margin:10px;
background-color:#000;
color:#fff;
border-style:none;
}
#Display{
width:310px;
height:70px;
text-align:right;
background-color:#1f80c9;
}
input[value="+"]{
background-color:#cc5c11;
}

input[value="-"]{
    background-color:#ba55d3;
    }
    

    input[value="X"]{
        background-color:#7db1b2;
        }
